body {
    background-color: black !important;
    color: white;
}

a {
    color: lightskyblue;
}

h2 {
    font-family: 'Staatliches', cursive;
}

h1 {
    font-family: 'Anton', sans-serif;
}

img {
    border-radius: 40px;
}

.caption {
    font-family: Verdana,sans-serif;
}